* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: #000;
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }
    
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            width: 100%;
            flex: 1;
            // padding: 2rem;
            margin: 5rem 0 3.5rem;
            background-color: cyan;
            
            section {
                width: 100%;
                // margin-bottom: 2.5rem;
                padding: 5%;
                // min-height: 35vh;
                // display: none;
            }

            @media screen and (min-width: 576px) {}
            
            @media screen and (min-width: 768px) {}
            
            @media screen and (min-width: 992px) {
                margin: 10rem 0 2.5rem;
    
                section{
                    // width: 100%;
                    margin-bottom: 0;
                    // padding: 5%;
                    // min-height: 35vh;
                    // display: none;
                }
            
            }
            
            @media screen and (min-width: 1200px) {}
        }
    }   
}