@mixin font-face($font-family, $file-path, $format, $file-path-woff: null, $file-path-woff2: null, $weight: normal, $style: normal) {
    @font-face {
        font-family: "#{$font-family}";
        src: url("#{$file-path-woff2}") format("woff2"),
            url("#{$file-path-woff}") format("woff"),
            url("#{$file-path}") format("#{$format}");
        font-display: swap;
    }
}

/***********************************************/

@mixin boutton($bg-color, $text-color, $padding: 1em, $radius: 5px) {
    background-color: $bg-color;
    color: $text-color;
    padding: $padding;
    border-radius: $radius;
    border: none;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}

/***********************************************/

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/***********************************************/

@mixin flex-base {
    display: flex;
    align-items: center;
}

/***********************************************/

@mixin flex-spaceA {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/***********************************************/

@mixin flex-spaceB {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/***********************************************/

@mixin flex-spaceE {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/***********************************************/

@mixin flex-C {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/***********************************************/

@mixin flex-C-spaceA {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

/***********************************************/

@mixin flex-C-spaceB {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

/***********************************************/

@mixin flex-C-spaceE {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

/***********************************************/

@mixin ImgBase {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/***********************************************/

@mixin Width-Height-Base {
    width: 100%;
    height: 100%;
}

/***********************************************/

@mixin P-M-null {
    padding: 0;
    margin: 0;
}

/***********************************************/