:root{
    // Couleurs et thème
    --primary-color1          : #361fdb;
    --primary-color2          : #20cbe6;
    --Gradient-primary-color  : #361fdb;
    --secondary-color1        : #db701f;
    --secondary-color2        : #db911f;
    --Gradient-secondary-color: #db701f;
    --White-Primary           : #f3f5ff;
    --Black-Primary           : #0f1426;
    --text-color              : #0f1426;
    --link-color              : #db701f;

    // Typographie
    --font-family-base: 'Helvetica Neue', sans-serif;
    --font-size-base:   16px;
    --font-size-heading: 2.5rem;

    // Espacements & conteneur
    --spacing-unit: 1rem;
    --container-max-width: 1200px;

    // Bordures et transitions
    --border-radius: 4px;
    --transition-speed: 0.3s;

    // Déclaration des variables pour les breakpoints
    // Mobile
    --breakpoint-sm: 576px;
    
    // Tablette
    --breakpoint-md: 768px;
    
    // Laptop
    --breakpoint-lg: 992px;
    
    // Desktop
    --breakpoint-xl: 1200px;

    --extra-large: 1280px; // Nouveau seuil au-delà du XL

  
}