header {
  width: 100%;
}
header .Logo,
header .LogoMb {
  width: 20vw;
  display: flex;
  align-items: center;
}
header .Logo a,
header .LogoMb a {
  display: block;
  max-width: 250px;
  max-height: 100px;
}
header .Logo a img,
header .LogoMb a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .NavHeader {
  width: 100%;
  padding: 5%;
  background-color: purple;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
}
header .NavHeader .Logo,
header .NavHeader .LogoMb {
  z-index: 10;
}
header .NavHeader .BarreRechercheMb {
  z-index: 10;
  width: 45%;
  height: 75%;
}
header .NavHeader .menu {
  --s: 35px; /* control the size */
  --c: black; /* the color */
  z-index: 10;
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid rgba(0, 0, 0, 0);
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0)
         no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000)
         repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top, var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top, var(--_g2) right var(--_p, 0px) top, var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  -webkit-clip-path: inset(0 25%);
          clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, rgba(0, 0, 0, 0), #000 25% 75%, rgba(0, 0, 0, 0));
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s), -webkit-clip-path 0s var(--_s, 0.6s);
  transition: background-position 0.3s var(--_s, 0.3s), clip-path 0s var(--_s, 0.6s);
  transition: background-position 0.3s var(--_s, 0.3s), clip-path 0s var(--_s, 0.6s), -webkit-clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
header .NavHeader .menu:before, header .NavHeader .menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}
header .NavHeader .menu:checked {
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
  --_p: calc(-1*var(--s));
  --_s: 0s;
}
header .NavHeader .menu:checked:before {
  transform: rotate(45deg);
}
header .NavHeader .menu:checked:after {
  transform: rotate(-45deg);
}
header .NavHeader .menu:focus-visible {
  -webkit-clip-path: none;
          clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}
header .NavHeader .menu:checked ~ .ContenuHeader {
  transform: translateY(0);
  transition: transform 0.3s ease;
}
header .ContenuHeader {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  position: absolute;
  top: 0;
  background-color: orange;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  padding-top: 10%;
  overflow: hidden;
}
header .ContenuHeader .Logo {
  display: none;
}
header .ContenuHeader .MenuHaut {
  order: 4;
}
header .ContenuHeader .MenuHaut .BarreRecherche {
  display: none;
}
header .ContenuHeader .ReseauxSociaux {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  order: 1;
}
header .ContenuHeader .ReseauxSociaux a {
  width: 35px;
  aspect-ratio: 1;
  background-color: aqua;
}
header .ContenuHeader .MenuBas {
  width: 100%;
  height: 150%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}
header .ContenuHeader .MenuBas ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
header .ContenuHeader .Rdv {
  order: 3;
  width: 45%;
  margin-top: 5%;
  font-weight: bold;
  font-size: large;
  display: flex;
  text-align: center;
  justify-content: center;
}
header .Prenez-Notre-Service {
  position: fixed;
  text-align: center;
  width: 20%;
  padding: 1.5%;
  top: 15vw;
  left: 10%;
}
@media screen and (min-width: 992px) {
  header .NavHeader {
    padding: 0;
  }
  header .NavHeader .LogoMb,
  header .NavHeader .BarreRechercheMb,
  header .NavHeader .menu {
    display: none;
  }
  header .NavHeader .ContenuHeader {
    transform: translateY(0);
    padding: 0;
    position: relative;
    height: 2.5%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  header .NavHeader .ContenuHeader .Logo {
    grid-area: 1/1/3/2;
    padding: 5%;
    background-color: orange;
    width: 20vw;
    display: flex;
    align-items: center;
  }
  header .NavHeader .ContenuHeader .Logo a {
    display: block;
    max-width: 250px;
    max-height: 100px;
  }
  header .NavHeader .ContenuHeader .Logo a img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  header .NavHeader .ContenuHeader .MenuHaut {
    width: 100%;
    padding: 1%;
    grid-area: 1/2/2/3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  header .NavHeader .ContenuHeader .MenuHaut ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
  header .NavHeader .ContenuHeader .MenuHaut ul .BarreRecherche {
    display: block;
  }
  header .NavHeader .ContenuHeader .ReseauxSociaux {
    grid-area: 1/3/2/4;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 22.5vw;
  }
  header .NavHeader .ContenuHeader .ReseauxSociaux a {
    width: 35px;
    padding: 5%;
    aspect-ratio: 1;
    background-color: aqua;
  }
  header .NavHeader .ContenuHeader .MenuBas {
    grid-area: 2/2/3/3;
    display: flex;
    align-items: center;
  }
  header .NavHeader .ContenuHeader .MenuBas ul {
    width: 100%;
    flex-direction: row;
  }
  header .NavHeader .ContenuHeader .Rdv {
    grid-area: 2/3/3/4;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .NavHeader .Prenez-Notre-Service {
    top: 25vh;
  }
}
footer {
  width: 100%;
  height: 65%;
  padding: 5%;
  background: linear-gradient(transparent 0%, rgb(54, 31, 219) 10%, rgb(15, 20, 38) 100%);
}
footer .VoletGauche {
  height: 35%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .VoletGauche a {
  display: block;
  max-width: 250px;
  max-height: 100px;
  margin: 0 auto;
}
footer .VoletGauche a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5%;
}
footer .VoletGauche .ReseauxSociaux {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
}
footer .VoletGauche .ReseauxSociaux a {
  width: 35px;
  aspect-ratio: 1;
}
footer .VoletCentre {
  font-size: 1.15rem;
  text-align: center;
  padding: 5%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer .VoletCentre .Services > li,
footer .VoletCentre .Secteurs > li {
  font-size: 1rem;
  display: none;
}
footer .VoletDroite {
  height: 35%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .VoletDroite ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (min-width: 576px) {
  footer .VoletCentre {
    flex-direction: row;
  }
  footer .VoletDroite {
    padding: 2.5%;
  }
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    height: 65%;
  }
  footer .VoletGauche {
    order: 3;
    height: 35%;
    width: 100%;
  }
  footer .VoletCentre {
    height: 65%;
    width: 75%;
    padding: 5% 0 5%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  footer .VoletCentre .Services > li,
  footer .VoletCentre .Secteurs > li {
    display: block;
  }
  footer .VoletCentre ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer .VoletDroite {
    height: 65%;
    width: 25%;
  }
  footer .VoletDroite ul {
    padding: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  footer .VoletDroite ul li {
    padding: 5%;
  }
}
@media screen and (min-width: 992px) {
  footer {
    padding: 2.5% 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
  }
  footer .VoletGauche {
    order: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  footer .VoletGauche a {
    display: block;
    max-width: 250px;
    max-height: 100px;
    margin: 0 auto;
  }
  footer .VoletGauche a img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  footer .VoletGauche .ReseauxSociaux {
    display: flex;
    justify-content: space-evenly;
  }
  footer .VoletGauche .ReseauxSociaux a {
    width: 35px;
    aspect-ratio: 1;
  }
  footer .VoletCentre {
    order: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
  footer .VoletCentre ul {
    padding: 5% 0 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer .VoletDroite {
    order: 3;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .VoletDroite ul {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr;
  }
}

.Titre-Page {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
}
.Titre-Page .Bloc-Gauche {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Titre-Page .Bloc-Gauche h1 {
  padding: 5%;
}
.Titre-Page .Bloc-Gauche h3 {
  padding: 5%;
}
.Titre-Page .Bloc-Gauche img {
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Titre-Page .Bloc-Droite {
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Titre-Page .Bloc-Droite img, .Titre-Page .Bloc-Droite p {
  width: 75%;
  height: 75%;
}
.Titre-Page .Bloc-Droite img {
  -o-object-fit: contain;
     object-fit: contain;
}
.Titre-Page .Bloc-Droite p {
  overflow-y: auto;
}
.Titre-Page .Bloc-Droite .ListBtn {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Titre-Page .Bloc-Bas {
  width: 100%;
  grid-area: 2/1/3/3;
  display: flex;
  justify-content: space-around;
}
.Titre-Page .Bloc-Bas .MiniStats {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.Mini-Carrousel-Blog h2 {
  text-align: center;
}
.Mini-Carrousel-Blog .Liste-Blog {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Mini-Carrousel-Blog .Liste-Blog article {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.Mini-Carrousel-Blog .Liste-Blog article img {
  width: 35%;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.Mini-Carrousel-Blog .Liste-Blog article .InfoBlog {
  width: 50%;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MiniContact {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 3fr;
}
.MiniContact h2 {
  grid-area: 1/1/2/3;
  text-align: center;
}
.MiniContact .Block-Gauche {
  grid-area: 2/1/3/2;
  padding: 5%;
}
.MiniContact .Block-Droite {
  grid-area: 2/2/3/3;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.MiniContact .Block-Droite article div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.MiniContact .Block-Droite article div img {
  width: 35%;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}

.Grd-Carrousel-Blog {
  height: 75vh;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 2fr 5fr;
  grid-column-gap: 2.5%;
  grid-row-gap: 5%;
}
.Grd-Carrousel-Blog h2 {
  text-align: center;
  grid-area: 1/2/2/3;
}
.Grd-Carrousel-Blog .Filtre {
  grid-area: 2/1/3/4;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Grd-Carrousel-Blog .Filtre .Mini-Entete, .Grd-Carrousel-Blog .Filtre ul {
  display: flex;
  justify-content: space-around;
}
.Grd-Carrousel-Blog .Block-FlecheG {
  grid-area: 3/1/4/2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Grd-Carrousel-Blog .Block-FlecheG .fleche {
  width: 50%;
  aspect-ratio: 1;
  background-color: purple;
}
.Grd-Carrousel-Blog .Liste-Blog {
  grid-area: 3/2/4/3;
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
}
.Grd-Carrousel-Blog .Liste-Blog article {
  background-color: orchid;
  margin: 5%;
  display: flex;
  justify-content: space-between;
}
.Grd-Carrousel-Blog .Liste-Blog article img {
  width: 30%;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.Grd-Carrousel-Blog .Liste-Blog article .InfoBlog {
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Grd-Carrousel-Blog .Block-FlecheD {
  grid-area: 3/3/4/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Grd-Carrousel-Blog .Block-FlecheD .fleche {
  width: 50%;
  aspect-ratio: 1;
  background-color: purple;
}

.Grd-Contact {
  display: flex;
}
.Grd-Contact .Block-Gauche,
.Grd-Contact .Block-Centre,
.Grd-Contact .Block-Droite {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Carrousel-Infini .Carrousel {
  width: 100%;
  display: flex;
}
.Carrousel-Infini .Carrousel article {
  padding: 2.5%;
  width: 20%;
}

.Carrousel-pack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Carrousel-pack .Block-Haut {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Carrousel-pack .Block-Haut p {
  padding: 5%;
  width: 80%;
}
.Carrousel-pack .Carrousel {
  display: flex;
  overflow-x: auto;
  padding: 0;
  width: 100%;
}
.Carrousel-pack .Carrousel .Pack {
  width: 75%;
  aspect-ratio: 9/16;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Carrousel-pack .Carrousel .Pack img {
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Carrousel-pack .Block-Stats {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Carrousel-pack .Block-Stats .MiniStats {
  width: 30%;
  display: flex;
}
.List-Block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.List-Block .Block-Haut {
  display: flex;
  justify-content: center;
  align-items: center;
}
.List-Block .Block-Haut p {
  padding: 5%;
  width: 80%;
}
.List-Block .Block-Bas {
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.List-Block .Block-Bas article {
  width: 40vw;
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: 2fr 1fr;
  grid-column-gap: 10%;
  grid-row-gap: 10%;
}
.List-Block .Block-Bas article img {
  grid-area: 1/1/2/2;
  padding: 5%;
}
.List-Block .Block-Bas article p {
  grid-area: 1/2/2/4;
  padding: 5%;
}
.List-Block .Block-Bas article h4 {
  grid-area: 2/1/3/3;
  padding: 5%;
}
.List-Block .Block-Bas article button {
  grid-area: 2/3/3/4;
  height: 35px;
}
.List-Block .Block-Bas article:first-child {
  grid-area: 1/1/2/2;
}
.List-Block .Block-Bas article:last-child {
  grid-area: 3/3/4/4;
}

.Page404 {
  display: flex;
}
.Page404 .Block-Gauche .IconErreur {
  width: 75%;
  aspect-ratio: 1;
}
.Page404 .Block-Gauche .Erreur {
  width: 60%;
  font-size: xx-large;
}
.Page404 .Block-Droite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Page404 .Block-Droite .BlockBtns {
  display: flex;
  flex-wrap: wrap;
}
.Page404 .Block-Droite .BlockBtns .BtnErreur {
  padding: 5%;
  text-align: center;
}

.Stats {
  display: flex;
  padding: 0;
}
.Stats .Block-Gauche {
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Stats .Block-Gauche h2 {
  padding: 5%;
}
.Stats .Block-Gauche .Block-Stats {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Stats .Block-Gauche .Block-Stats .MiniStats {
  width: 50%;
  display: flex;
}
.Stats .Block-Droite {
  width: 50%;
  padding: 5%;
}
.Stats .Block-Droite img {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}

.Texte-Page {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Texte-Page .Block-Gauche,
.Texte-Page .Block-Droite {
  width: 50%;
}
.Texte-Page .Block-Gauche h2,
.Texte-Page .Block-Droite h2 {
  padding: 5%;
}
.Texte-Page .Block-Gauche img,
.Texte-Page .Block-Droite img {
  width: 100%;
  height: 75%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Texte-Page .Block-Gauche p, .Texte-Page .Block-Gauche ul,
.Texte-Page .Block-Droite p,
.Texte-Page .Block-Droite ul {
  padding: 5%;
  width: 90%;
}
.Texte-Page .Block-Centre {
  min-height: 30vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Texte-Page .Block-Centre h2 {
  text-align: center;
  padding: 5%;
}
.Texte-Page .Block-Centre p {
  padding: 5%;
  width: 90%;
  height: 40%;
  overflow-y: auto;
}

.Titre-Article {
  width: 100%;
  height: 50vh;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, 1fr);
}
.Titre-Article .Bloc-Gauche {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Titre-Article .Bloc-Gauche h1 {
  padding: 5%;
}
.Titre-Article .Bloc-Gauche h3 {
  padding: 5%;
}
.Titre-Article .Bloc-Gauche img {
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Titre-Article .Bloc-Droite {
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Titre-Article .Bloc-Droite img, .Titre-Article .Bloc-Droite p {
  width: 75%;
  height: 75%;
}
.Titre-Article .Bloc-Droite img {
  -o-object-fit: contain;
     object-fit: contain;
}
.Titre-Article .Bloc-Droite p {
  overflow-y: auto;
}
.Titre-Article .Bloc-Droite .ListBtn {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Txt-Article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.MiniMedia-Article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.MiniMedia-Article .Block-Bas {
  display: flex;
  justify-content: space-between;
}
.MiniMedia-Article .Block-Bas p {
  width: 40%;
  padding: 5%;
  max-height: 30vh;
  overflow-y: auto;
}
.MiniMedia-Article .Block-Bas img {
  width: 45%;
  background-color: cadetblue;
  -o-object-fit: contain;
     object-fit: contain;
}

.Media-Article {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.Media-Article .Block-Gauche {
  width: 40%;
  max-height: 30vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Media-Article .Block-Gauche ul {
  height: 75%;
}
.Media-Article .Block-Gauche ul li {
  list-style: inside;
  padding: 5%;
}
.Media-Article .Block-Droite {
  padding: 0;
  background-color: cadetblue;
  display: flex;
  align-items: center;
}
.Media-Article .Block-Droite img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.Galerie-Media {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: red;
}
.Galerie-Media .Img1 {
  padding: 5%;
  grid-area: 1/1/2/2;
  -o-object-fit: contain;
     object-fit: contain;
}
.Galerie-Media .Img2 {
  padding: 5%;
  grid-area: 1/2/2/3;
  -o-object-fit: contain;
     object-fit: contain;
}
.Galerie-Media .Img3 {
  padding: 5%;
  grid-area: 1/3/2/4;
  -o-object-fit: contain;
     object-fit: contain;
}
.Galerie-Media .Img4 {
  padding: 5%;
  grid-area: 2/1/3/2;
  -o-object-fit: contain;
     object-fit: contain;
}
.Galerie-Media .Img5 {
  padding: 5%;
  grid-area: 2/3/3/4;
  -o-object-fit: contain;
     object-fit: contain;
}
.Galerie-Media .Img6 {
  padding: 5%;
  grid-area: 2/2/3/3;
  -o-object-fit: contain;
     object-fit: contain;
}
.Galerie-Media .Img7 {
  padding: 5%;
  grid-area: 3/1/4/2;
  -o-object-fit: contain;
     object-fit: contain;
}
.Galerie-Media .Img8 {
  padding: 5%;
  grid-area: 3/3/4/4;
  -o-object-fit: contain;
     object-fit: contain;
}
.Galerie-Media .Img9 {
  padding: 5%;
  grid-area: 3/2/4/3;
  -o-object-fit: contain;
     object-fit: contain;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
  color: #000;
}
* html,
* body {
  height: 100%;
  margin: 0;
}
* body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
* body main {
  overflow: hidden;
  width: 100%;
  flex: 1;
  margin: 12.5rem 0 2.5rem;
  background-color: cyan;
}
* body main section {
  width: 100%;
  padding: 5%;
  min-height: 35vh;
}

:root {
  --primary-color: #361fdb;
  --secondary-color: #db701f;
  --background-color: #f3f5ff;
  --text-color: #0f1426;
  --link-color: --primary-color;
  --font-family-base: "Helvetica Neue", sans-serif;
  --font-size-base: 16px;
  --font-size-heading: 2.5rem;
  --spacing-unit: 1rem;
  --container-max-width: 1200px;
  --border-radius: 4px;
  --transition-speed: 0.3s;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --extra-large: 1280px;
}/*# sourceMappingURL=styles.css.map */