.Carrousel-Infini{
    h2{} 
    .Carrousel{
        width: 100%;
        display: flex;
        article{
            padding: 2.5%;
            width: 20%;
        }
    }


    @media screen and (min-width: 576px){
    
    }
    
    @media screen and (min-width: 768px) {        
    
    }
    
    @media screen and (min-width: 992px) {
    
    }
    
    @media screen and (min-width: 1200px) {
    
    }
}