.Galerie-Media{
    width: 100%;
    padding: 10%;
    display: grid;
    gap: 10%;
    aspect-ratio: 1;
    grid-template-columns: repeat(3,auto);

    img{
        width: 0;
        height: 0;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
        cursor: pointer;
        filter: grayscale(80%) blur(5px);
        transition: var(--transition-speed) linear;

        &:hover{
            filter: grayscale(0);
            width:  calc (150px * 1.5);
            height: calc (150px * 1.5);
            object-fit: contain;
        }
    }

    @media screen and (min-width: 576px) {}
    
    @media screen and (min-width: 768px) {}
    
    @media screen and (min-width: 992px) {}
    
    @media screen and (min-width: 1200px) {}
}