.Galerie-Media{
    width: 100%;

    --s: 150px; /* control the size */
    --g: 10%;  /* control the gap */
    --f: 1.5;   /* control the scale factor */
    padding: 10%;
    display: grid;
    gap: var(--g);
    aspect-ratio: 1;
    grid-template-columns: repeat(3,auto);

    img{
        width: 0;
        height: 0;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
        cursor: pointer;
        filter: grayscale(80%) blur(5px);
        transition: .35s linear;

        &:hover{
            filter: grayscale(0);
            width:  calc(var(--s)*var(--f));
            height: calc(var(--s)*var(--f));
            object-fit: contain;
        }
    }

    @media screen and (min-width: 576px){

    }
    
    @media screen and (min-width: 768px) {        
    
    }
    
    @media screen and (min-width: 992px) {
    
    }
    
    @media screen and (min-width: 1200px) {
    
    }
}