.Grd-Contact{
    display: flex;

    .Block-Gauche,
    .Block-Centre,
    .Block-Droite{
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .Block-Gauche{}
    .Block-Centre{}
    .Block-Droite{}

}