.Grd-Contact{
    // padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    // background-color: yellow;

    
    h2{
        text-align: center;
        margin: 5%;
    }

    .Block-Gauche,
    .Block-Centre,
    .Block-Droite{
        height: 35vh;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.5%;
    }
    
    .Block-Gauche{
        // align-items: center;
        // // padding: 5%;
        // // background-color: red;
        // div{
        //     // height: 30vh;
            
        //     display: flex;
        //     align-items: center;
        //     flex-direction: column;
        //     justify-content: space-between;
        // }

        .card {
            width: 70%;
            padding: 5%;
            border: 6px solid rgba(0, 0, 0, 0.3);
            box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
            border-radius: 50px;
            position: relative;
        }
        
        .card h2 {
            color: rgba(0, 0, 0, 0.3);
            font-size: 60px;
            text-transform: uppercase;
        }
        
        .card .row {
            position: relative;
            width: 100%;
            display: grid;
            grid: auto / auto auto;
            grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
            grid-gap: 30px;
        }
        
        .card .row .col {
            position: relative;
            width: 100%;
            margin: 30px 20px 40px 0;
            transition: 0.5s;
        }
        
        .card .row .form-group {
            position: relative;
            width: 100%;
            height: 40px;
            color: #ffffff;
        }
        
        .card .row .form-group input,
        .card .row .form-group textarea {
            position: absolute;
            width: 90%;
            height: 100%;
            background: transparent;
            outline: none;
            font-size: 24px;
            padding: 10px 0 10px 20px;
            border: 5px solid rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
            color: #ffffff;
            border-radius: 50px;
        }
        
        .card .row .form-group label {
            line-height: 40px;
            color: #ffffff;
            font-size: 24px;
            margin: 0 0 0 30px;
            display: block;
            pointer-events: none;
        }
        
        .row .col:nth-child(6) {
            margin-top: 64px;
        }
        
        .card .row .form-group input:focus,
        .card .row .form-group textarea:focus {
            border: 5px solid #ffffff;
            transition: all 0.5s;
        }
        
        .card .row input[type="submit"] {
            border: 5px solid rgba(0, 0, 0, 0.3);
            box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
            padding: 10px;
            height: 100%;
            width: 50%;
            cursor: pointer;
            outline: none;
            background: transparent;
            text-transform: uppercase;
            color: #ffffff;
            line-height: 40px;
            font-size: 24px;
            font-weight: 700;
            border-radius: 45px;
            transition: all 0.4s;
        }
        
        .card .row input[type="submit"]:hover {
            border: 5px solid rgba(255, 255, 255, 1);
            color: #ffffff;
            transition: all 0.4s;
        }
        
        @media screen and (max-width: 900px) {
            .card .row {
                grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
            }
            
            .card {
                padding: 20px;
            }
            
            .card h2 {
                font-size: 34px;
            }
            
            .card .row input[type="submit"] {
                width: 100%;
            }
        }
    }
    
    // .Block-Centre{
    //     padding: 5%;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: space-between;
    // }
    
    // .Block-Droite{
    //     padding: 5%;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: space-between;
    // }

    @media screen and (min-width: 576px){
        
    }
    
    @media screen and (min-width: 768px) {        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 2fr 1fr;
        min-height: 40vh;

        h2{
            margin: 0;
        }

        .Block-Gauche,
        .Block-Centre,
        .Block-Droite{
            height: 30vh;
            // background-color: red;
            margin: 0;
        }

        h2{grid-area: 1 / 1 / 2 / 3;}
        .Block-Gauche{ grid-area: 2 / 1 / 3 / 3; }
        .Block-Centre{ grid-area: 3 / 1 / 4 / 2; }
        .Block-Droite{ grid-area: 3 / 2 / 4 / 3; }




    }
    
    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 3fr;
        // min-height: 50vh;
        .Block-Gauche,
        .Block-Centre,
        .Block-Droite{
            // padding: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
    
        h2{
            grid-area: 1 / 1 / 2 / 4;
            margin: auto;
        }
    
        .Block-Gauche{grid-area: 2 / 1 / 3 / 2;}
        .Block-Centre{grid-area: 2 / 2 / 3 / 3;}
        .Block-Droite{grid-area: 2 / 3 / 3 / 4;}
    }
    
    @media screen and (min-width: 1200px) {
    
    }
}