.List-Block{
 
    @include flex-C-spaceB;
    
    .Block-Haut{ 
        @include flex-C-spaceA;
        
        h2{}
        
        p{ padding: var(--padding-base); }
    }
    
    .Block-Bas{
        min-height: 50vh;

        .Pack {
            height: 100%;
            display: flex;
            margin: var(--margin-base);
            background-clip: border-box;
            border: 1px solid var(--Gray-Primary);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: var(--border-base);
            flex: 1 1 calc(30% - 20px); // Ajuste la largeur en fonction du nombre de colonnes
            transition: box-shadow var(transition-speed);
        
            &:hover {
                box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.15);
            }

            /* image "haut de carte" */
            img {
                display: block;
                width: 50%;
                object-fit: contain;
                border-top-left-radius: var(--border-base);
                border-top-right-radius: var(--border-base);
                padding: var(--padding-base);
            }
            /* corps de la carte */
            .card-Ctn {
                height: 100%;
                flex: 1 1 auto; 
                @include flex-C-spaceB;
                padding: var(--padding-base);
 
                /* texte */
                // p {color: var(--Gray-Primary);}
            
                /* bouton primaire */
                .btn {
                    width: 100%;
                    display: inline-block;
                    line-height: 1.5;
                    text-align: center;
                    vertical-align: middle;
                    user-select: none;
                    border: 1px solid transparent;
                    border-radius: var(--border-base);
                    transition: color 0.15s ease-in-out,
                            background-color 0.15s ease-in-out,
                            border-color 0.15s ease-in-out,
                            box-shadow 0.15s ease-in-out;
            
                    &-primary {
                        color: var(--White-Primary);
                        background-color: var(--primary-color1);
                        border-color: var(--primary-color1);
                
                        &:hover,
                        &:focus {
                            color: var(--White-Primary);
                            background-color: var(--primary-color2);
                            border-color: var(--primary-color2); 
                        }
                    }
                }
            }

            &:first-child{ grid-area: 1 / 1 / 2 / 2; }
            
            &:last-child{ grid-area: 3 / 3 / 4 / 4; }
        }

    }
    
    @media screen and (min-width: 576px){}
    
    @media screen and (min-width: 768px) {
        .Block-Bas{
            .Pack{
                img{}
                .card-Ctn{
                    height: 100%;
                    @include flex-C-spaceB
                }
            }
        }
    }
    
    @media screen and (min-width: 992px) {
        .Block-Haut{
            flex-direction: row;
            
            h2 {}
            
            p {width: 80%;}
        }
        
        .Block-Bas{
            max-height: 80vh;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            
            
            article{
                width: 40vw;
                // margin: var(--margin-null);
                display: grid;
                grid-template-columns: 2fr repeat(2, 1fr);
                grid-template-rows: 2fr 1fr;
                grid-column-gap: 10%;
                grid-row-gap: 10%;
    
                img { 
                    grid-area: 1 / 1 / 2 / 2; 
                    padding: var(--padding-base);
                }
    
                p { 
                    grid-area: 1 / 2 / 2 / 4; 
                    padding: var(--padding-base);
                }
    
                h4 { 
                    grid-area: 2 / 1 / 3 / 3; 
                    padding: var(--padding-base);
                }
    
                button { 
                    grid-area: 2 / 3 / 3 / 4; 
                    height: 35px;
                }
            }
    
            article:first-child{ grid-area: 1 / 1 / 2 / 2; }
            
            article:last-child{ grid-area: 3 / 3 / 4 / 4; }
    
        }
    
    }
    
    @media screen and (min-width: 1200px) {
        .Block-Bas{
            article{
    
                img { 

                    padding: var(--padding-mini);
                }
    
                p { 

                    padding: var(--padding-mini);
                }
    
                h4 { 

                    padding: var(--padding-mini);
                }
            }
    
        }
    }
}