.List-Block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    .Block-Haut{
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h2{
        }
        
        p{
            padding: 5%;
            width: 80%;
        }
    }
    
    .Block-Bas{
        // padding: 0;
        min-height: 50vh;
        // background-color: pink;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
        
        article{
            width: 40vw;
            display: grid;
            grid-template-columns: 2fr repeat(2, 1fr);
            grid-template-rows: 2fr 1fr;
            grid-column-gap: 10%;
            grid-row-gap: 10%;
            // background-color: red;

            img { 
                grid-area: 1 / 1 / 2 / 2; 
                padding: 5%;
            }

            p { 
                grid-area: 1 / 2 / 2 / 4; 
                padding: 5%;
            }

            h4 { 
                grid-area: 2 / 1 / 3 / 3; 
                padding: 5%;
            }

            button { 
                grid-area: 2 / 3 / 3 / 4; 
                
                height: 35px;
            }
        }

        article:first-child{
            grid-area: 1 / 1 / 2 / 2;
        }
        
        article:last-child{
            grid-area: 3 / 3 / 4 / 4;
        }



    }
}