.MiniMedia-Article{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5rem;

    h2{ text-align: center; }
    
    .Block-Bas{

        height: 50vh;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: space-between;
        @include flex-C-spaceB;

        p{
            padding: var(--padding-base);
            max-height: 25vh;
            overflow-y: auto;
        }

        img{
            width: 90%;
            // background-color: cadetblue;
            object-fit: contain;
        }

    }
    
    @media screen and (min-width: 576px){}
    
    @media screen and (min-width: 768px) {}
    
    @media screen and (min-width: 992px) {   

        margin-bottom: 3.5rem; 
        
        h2{ text-align: left; }
        
        .Block-Bas{

            flex-direction: row;

            p{
                width: 40%;
                max-height: 30vh;
            }

            img{ width: 45%; }
    
        }
    }
    
    @media screen and (min-width: 1200px) {}
}