.Page404{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .Block-Gauche{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .IconErreur{
            width: 75%;
            aspect-ratio: 1;
            z-index: 3;
            img{
                width: 100%;
                transform: scale(1.75);
                object-fit: contain;
            }
        }

        .Erreur{
            height: 100%;
            margin: 0;
            transform: translateY(-10%);
            text-align: center;
            font-size: 7.5rem;
            z-index: 1;
        }
    }
    .Block-Droite{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        
        h2{display: none;}
        p{display: none;}

        .BlockBtns{
            width: 100%;
            height: 35%;
            margin: 5%;
            padding: 0;
            display: grid;
            place-items: center;
            grid-template-columns: auto auto auto auto auto;
            gap: 10%;
            
            li{
                button {
                    padding: 0.75rem;
                    font-size: 1rem;
                    background-color: #28a745;
                    color: #fff;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    
                    &:hover {
                        background-color: #218838;
                    }
                }
            }
        }
    }
    
    @media screen and (min-width: 576px){}
    
    @media screen and (min-width: 768px) {        
        flex-direction: row;
        height: 50vh;
        
        .Block-Droite{
            h2{
                display: block;
            }

            p{
                display: block;
                overflow-y: auto;}

            .BlockBtns{}
        }
    }
    
    @media screen and (min-width: 992px) {

        .Block-Gauche{

            .Erreur{
                font-size: 6.5rem;
            }
        }
        .Block-Droite{
            padding: 0;
            min-height: 40vh;
            
            .BlockBtns{
                height: 50%;
                
                li{}
            }
        }
    }
    
    @media screen and (min-width: 1200px) {
        min-height: 75vh;
        .Block-Gauche{

            .IconErreur{
                img{
                    transform: scale(1.5);
                }
            }

            .Erreur{
                font-size: 8.5rem;
                
            }
        }
    }
}