.Page-Recherche{
    padding: 0;
    
    .Block-Haut{
        // height: 25%;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5%;
        img{
            width: 5%;
        }

        
        input{
            margin-left: 5%;
        }
        margin-bottom: 5%;
    }
    // .Block-Haut{
    //     padding: 0;
    //     display: flex; 
    //     justify-content: space-evenly;
    //     background-color: red;   
    //     input{
    //         height: 10%;
    //     }
    // }
    .Block-Bas{
        height: 75%;
        width: 100%;
        padding: 0;
        display: grid;
        grid-template-columns: auto auto auto;
        article{
            background-color: orchid;
            margin: 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .InfoBlog{
                padding: 2.5%;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    }

    @media screen and (min-width: 576px){

    }
    
    @media screen and (min-width: 768px) {        
    
    }
    
    @media screen and (min-width: 992px) {
    
    }
    
    @media screen and (min-width: 1200px) {
    
    }
}