.Ressources-Article{
    h2{
        padding: 5%;
        text-align: center;
    }

    ul{
        // list-style: circle;
        li{
            margin: 5%;
            list-style: inside;   
            
            a{
                transition: .35s linear;   
                
                &:hover{
                    color: white;
                }      
            }
        }
    }
    margin-bottom: 5rem;

    @media screen and (min-width: 576px){

    }
    
    @media screen and (min-width: 768px) {        
    
    }
    
    @media screen and (min-width: 992px) {

        margin-bottom: 3.5rem;
        
        ul{
            li{margin: 2.5%;}
        }
    }
    
    @media screen and (min-width: 1200px) {
    
    }
}