.Stats{
    display: flex;
    padding: 0;
    .Block-Gauche{
        width: 50%;
        padding: 5%;    
        display: flex;
        flex-direction: column;
        justify-content: space-between;    

        h2{padding: 5%;}

        p{}

        .Block-Stats{
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            // justify-content: center;
            
            .MiniStats{
                width: 50%;
                display: flex;
                
                .Valeur{
    
                }
    
                .Txt-Valeur{
                    
                }
            }
        }
    }

    .Block-Droite{
        width: 50%;
        padding: 5%;
        img{
            width: 100%;
            aspect-ratio: 1;
            object-fit: contain;
        }
    }

    @media screen and (min-width: 576px){

    }
    
    @media screen and (min-width: 768px) {        
    
    }
    
    @media screen and (min-width: 992px) {
    
    }
    
    @media screen and (min-width: 1200px) {
    
    }
}