.Titre-Article{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
    
    .Block-Haut{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        img{
            width: 90%;
            object-fit: contain;
            
        }
        
    }
    .Block-Bas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        img{
            width: 90%;
            object-fit: contain;
            
        }
        
    }
    
    .Block-Droite{
        padding: 0;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{}
        img, p{ 
            width: 75%;
            height: 50%;
        }
        
        img{ object-fit: contain; }
        
        p{ overflow-y: auto; }
        
        .ListBtn{
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    
    @media screen and (min-width: 576px){
        
    }
    
    @media screen and (min-width: 768px) {        
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(2, 1fr);

        .Block-Haut{ grid-area: 1 / 1 / 2 / 3; }
        .Block-Bas{ grid-area: 2 / 1 / 3 / 2; }
        .Block-Droite{ grid-area: 2 / 2 / 3 / 3; }
    }
    
    @media screen and (min-width: 992px) {        
        width: 100%;
        height: 50vh;
        padding: 0;
        margin-bottom: 3.5rem;
        
        .Block-Haut{
            grid-area: 1 / 1 / 2 / 2;
            text-align: center;
            h1{padding: 5%;}
            h3{padding: 5%;}
            
        }

        .Block-Bas{
            grid-area: 2 / 1 / 3 / 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding: 0;
            h1{padding: 5%;}
            h3{padding: 5%;}
            img{
                width: 90%;
                object-fit: contain;
            }
          
        }
    
        .Block-Droite{
            grid-area: 1 / 2 / 3 / 3;
            display: flex;
            align-items: center;
            justify-content: center;
            h1{}
            img, p{}
    
            img{ object-fit: contain; }
            
            p{ overflow-y: auto;  }
    
            .ListBtn{
                width: 100%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    
    }
    
    @media screen and (min-width: 1200px) {
    
    }
}