.Titre-Article{
    // @include flex-C;
    @include flex-C-spaceA;

    width: 100%;
    height: 30vh; 
    margin-bottom: 5rem;
    
    .Block-Haut,
    .Block-Bas{ 

        @include flex-C-spaceA;
        h1{
            text-align: center;
        }
        img{
            width: 90%;
            object-fit: contain;
            
        }
        
    }
    
    .Block-Droite{
        padding: var(--padding-null); 
        @include flex-center;
        h1{}
        img, p{ 
            width: 75%;
            height: 50%;
        }
        
        img{ object-fit: contain; }
        
        p{ overflow-y: auto; }
        
        .ListBtn{
            width: 100%;
            height: 10%; 
            @include flex-spaceB;
        }
    }
    
    @media screen and (min-width: 576px){ }
    
    @media screen and (min-width: 768px) {        
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(2, 1fr);

        .Block-Haut{ grid-area: 1 / 1 / 2 / 3; }
        .Block-Bas{ grid-area: 2 / 1 / 3 / 2; }
        .Block-Droite{ grid-area: 2 / 2 / 3 / 3; }
    }
    
    @media screen and (min-width: 992px) {        
        width: 100%;
        height: 50vh;
        padding: var(--padding-null);
        margin-bottom: 3.5rem;
        
        .Block-Haut{
            grid-area: 1 / 1 / 2 / 2;
            text-align: center;
            h1, h3{padding: var(--padding-base);}  
        }
        
        .Block-Bas{
            grid-area: 2 / 1 / 3 / 2; 
            @include flex-C-spaceE; 
            padding: var(--padding-null);

            h1, h3{padding: var(--padding-base);}
             
            img{
                width: 90%;
                object-fit: contain;
            }
          
        }
    
        .Block-Droite{
            grid-area: 1 / 2 / 3 / 3; 
            @include flex-center; 

            h1{}
            img, p{}
    
            img{ object-fit: contain; }
            
            p{ overflow-y: auto;  }
    
            .ListBtn{
                width: 100%;
                height: 10%; 

                @include flex-spaceB
            }
        }
    
    }
    
    @media screen and (min-width: 1200px) {}
}