.Txt-Article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5rem;
    
    h2{
        text-align: center;
        padding: 5%;
    }
    
    p{
        max-height: 50vh;
        overflow-y: auto;
    }
    
    
    @media screen and (min-width: 576px){
        
    }
    
    @media screen and (min-width: 768px) {        
        
    }
    
    @media screen and (min-width: 992px) {
        margin-bottom: 3.5rem;
        
        h2{
            text-align: left;
        }

        p{}
    
    }
    
    @media screen and (min-width: 1200px) {
    
    }
}