footer{
    width: 100%;
    height: 65%;
    padding: 5%;
    background: linear-gradient( transparent 0%, var(--primary-color1) 10%, var(--Black-Primary) 100%);
    
    color: var(--White-Primary);
    .VoletGauche{
        height: 35%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        a{
            color: var(--White-Primary);
            display: block;
            max-width: 250px;
            max-height: 100px;
            margin: 0 auto;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                padding: 5%;
            }
        }
        
        .ReseauxSociaux { 
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 95%;
            a{
                width: 35px;
                aspect-ratio: 1;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .VoletCentre{
        font-size: 1.15rem;
        text-align: center;
        padding: 5%;
        height: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .Services > li,
        .Secteurs > li{
            font-size: 1rem;
            display: none;
        }        
    }
    
    .VoletDroite{
        height: 35%;
        padding: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }   
    
    @media screen and (min-width: 576px){
        .VoletGauche{}
        .VoletCentre{
            flex-direction: row;
        }
        .VoletDroite{
            padding: 2.5%;
        }
    }
    
    @media screen and (min-width: 768px) {        
        display: flex;
        flex-wrap: wrap;
        height: 65%;
        .VoletGauche{
            order: 3;
            height: 35%;
            width: 100%;

        }
    
        .VoletCentre{
            height: 65%;
            width: 75%;
            
            padding: 5% 0 5%;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
    
            .Services > li,
            .Secteurs > li{
                display: block;
            }    

            ul{

                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .Rdv{}
            }
        }
        
        .VoletDroite{
            height: 65%;
            width: 25%;
            ul{
                padding: 5%;
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                li{
                    padding: 5%;
                }
            }
        }
    }
    
    @media screen and (min-width: 992px) {
        padding: 2.5% 0;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr;
    
        .VoletGauche{
            order: 1;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
                
            a{
                display: block;
                max-width: 250px;
                max-height: 100px;
                margin: 0 auto;
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            
            .ReseauxSociaux { 
                display: flex;
                justify-content: space-evenly;
                a{
                    width: 35px;
                    aspect-ratio: 1;
                }
            }
        }
    
        .VoletCentre{
            order: 2;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
    
            ul{
                padding: 5% 0 5%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            
                .Rdv{}
            }
        }
    
        .VoletDroite{
            order: 3;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            ul{
                width: 90%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }
    
    @media screen and (min-width: 1200px) {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        grid-template-rows: 1fr;
    
    }

}
